.premio{
    grid-area: premios;
    display: flex;
}
.botao_premio{
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    gap: 20px;
}
.botao_premio_texto{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.img_premio{
    height: 20px;
    align-items: center;
    text-align: center;
    justify-content: center;
}

